# Gradle
.gradle/

# Dropwizard
build/
logs/
configuration.yaml

# IntelliJ IDEA
*.iml
*.ipr
*.iws
.idea/
bin/
lib/
out/

# Mac OS X
.DS_Store

# Build Properties
build.properties

# cert

*.cer
*.keystore
*.truststore